#main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.date-time {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.2rem;
  box-shadow: 0 0 10px rgb(230, 230, 230);
  padding: 3rem;
  border-radius: 0.5rem;
  text-align: center;
}
.date {
  font-size: 2rem;
}
.time {
  font-size: 3rem;
}
